{% extends 'base.html' %}
{% block content %}
    <div class="callout">
        Backend is Flask, data from <code>students</code> table in MariaDB.
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Favorite Color</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.favorite_color }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" class="muted">No students yet. Add some rows to the database.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}